body.bg-dark .movie-title {
  color: #ffd700;
}

body.bg-dark .rating-label {
  color: #fff;
}

body.bg-dark .info-item {
  color: #fff;
}

body.bg-dark .summary-box {
  background-color: #fffbe0;
}

body.bg-dark .btn-custom {
  color: #343a40;
  background-color: #f0e19e;
}

body.bg-dark .btn-custom:hover {
  background-color: #ffd700;
}

/* Section chính */
.movie-poster-section,
.movie-details-section {
  margin: 20px 0;
}

/* Tiêu đề phim */
.movie-title {
  font-size: 32px; /* Tăng kích thước cho tiêu đề */
  font-weight: bold;
  margin-bottom: 20px;
  color: #343a40; /* Màu tiêu đề */
}

/* Xem xếp hạng */
.rating-label {
  margin-right: 10px; /* Tăng khoảng cách bên phải của nhãn */
}
/* Tiêu đề tóm tắt */
.summary-title {
  font-size: 24px; /* Kích thước cho tiêu đề tóm tắt */
  font-weight: bold;
  margin-bottom: 15px;
  color: #343a40; /* Màu tiêu đề */
}

.movie-details-section {
  padding: 0 60px;
}

/* Nội dung section */
.movie-details-section p,
.summary-text {
  font-size: 16px;
  line-height: 1.6; /* Khoảng cách giữa các dòng */
  color: #495057; /* Màu văn bản tối hơn */
}

/* Nút bấm */
.btn-custom {
  background-color: #495057; /* Màu nền nút */
  color: #fff; /* Màu chữ nút */
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */
}

.btn-custom:hover {
  background-color: #343a40; /* Màu nền khi hover */
}

/* Ảnh phim */
.movie-poster {
  width: 80%; /* Chiều rộng 100% */
}

/* Định dạng thông tin phim */
.movie-info {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Khoảng cách giữa các phần tử */
  margin-bottom: 20px; /* Thêm khoảng cách dưới cùng */
}

/* Thông tin từng mục */
.info-item {
  font-size: 16px;
  color: #6c757d; /* Màu văn bản thông tin */
}

/* Kích thước ảnh tùy chỉnh */
.custom-img-size {
  max-width: 100%; /* Điều chỉnh tỉ lệ mong muốn (100% chiều rộng của phần tử chứa) */
  height: auto; /* Đảm bảo tỷ lệ ảnh không thay đổi */
  border-radius: 10px;
}

/* Tóm tắt phim */
.summary-box {
  margin-top: 40px;
  border: 1px solid #ccc; /* Đường viền màu xám nhạt */
  padding: 15px; /* Khoảng cách bên trong */
  border-radius: 8px; /* Bo góc cho khung */
  background-color: #f8f9fa; /* Nền màu sáng hơn */
}

/* Điều chỉnh khoảng cách giữa các hàng */
.row {
  position: relative;
  top: 30px; /* Điều chỉnh vị trí của hàng */
}
