body.bg-dark .tab {
  border-color: #ffd700;
  background-color: #fffbe0;
  color: #393e46;
}

body.bg-dark .tab.active {
  background-color: #ffd700;
}

body.bg-dark .tab:not(.active):hover {
  background-color: #ffd369;
}

body.bg-dark .poster {
  border-color: #ffd700;
  color: #393e46;
}

body.bg-dark .poster-buttons a {
  background-color: #ffd700;
  color: #393e46;
}

body.bg-dark .poster-buttons a:hover {
  background-color: #fffbe0;
}

body.bg-dark .banner-section img {
  border-color: #ffd700;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: #393e46;
  color: white;
}

.tab:not(.active):hover {
  background-color: #f0f0f0;
}

.poster-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
  padding: 20px;
}

.poster {
  position: relative;
  width: 210px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 3px solid #393e46;
}

.poster img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.poster-info {
  padding: 10px;
  text-align: center;
}

.movie-title {
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
}

.movie-details {
  font-size: 14px;
  color: #666;
  border-top: 1px solid #393e46; /* Đường gạch ngang */
  margin-top: 8px; /* Khoảng cách giữa tên và đường gạch ngang */
  padding-top: 8px; /* Khoảng cách từ đường gạch ngang đến thông tin */
}

.poster-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.poster:hover img {
  opacity: 0.3;
}

.poster:hover .poster-buttons {
  opacity: 1;
}

.poster-buttons a {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #393e46;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.poster-buttons a:hover {
  background-color: #666;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.show-more {
  width: 100%;
  max-width: 200px; /* Đảm bảo không quá to */
  margin: 20px auto; /* Canh giữa theo chiều ngang */
  display: block;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  display: none; /* Ẩn nút theo mặc định */
}

.show-more:hover {
  background-color: #ffd700; /* Đổi màu khi hover */
}

.banner-section {
  display: block; /* Đặt các banner theo chiều dọc */
  text-align: center; /* Căn giữa các ảnh nếu cần */
}

.banner-section img {
  width: 100%; /* Đảm bảo các banner chiếm toàn bộ chiều rộng của container */
  max-width: 1920px; /* Giới hạn chiều rộng tối đa cho banner, bạn có thể thay đổi giá trị này */
  height: auto; /* Giữ tỷ lệ ảnh */
  margin: 20px 0; /* Thêm khoảng cách giữa các ảnh */
  border: 3px solid #000;
}
