USE [master]
GO

-- 1. Kiểm tra và Xóa Database cũ nếu tồn tại
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'VanTai2512V2')
BEGIN
    ALTER DATABASE [VanTai2512V2] SET SINGLE_USER WITH ROLLBACK IMMEDIATE
    DROP DATABASE [VanTai2512V2]
END
GO

-- 2. Tạo Database mới (Sử dụng đường dẫn mặc định của máy)
CREATE DATABASE [VanTai2512V2]
GO

USE [VanTai2512V2]
GO

/****** Object:  Table [dbo].[Chuyen] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chuyen](
	[MaChuyen] [int] IDENTITY(1,1) NOT NULL,
	[MaTuyen] [nvarchar](10) NULL,
	[SoXe] [nvarchar](20) NULL,
	[MaLaiXe] [int] NULL,
	[NgayGio] [datetime] NULL,
 CONSTRAINT [PK_Chuyen] PRIMARY KEY CLUSTERED 
(
	[MaChuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[CongTy] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongTy](
	[MaCongTy] [nvarchar](10) NOT NULL,
	[TenCongTy] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](250) NULL,
	[Email] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](30) NULL,
	[Anh] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhaXe] PRIMARY KEY CLUSTERED 
(
	[MaCongTy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[DatVe] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatVe](
	[MaKhach] [varchar](10) NULL,
	[MaChuyen] [int] NULL,
	[SoVe] [int] NULL,
	[GiaVe] [float] NULL,
	[DiemDon] [nvarchar](50) NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[HanhKhach] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HanhKhach](
	[MaKhach] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[CCCD] [varchar](20) NULL,
	[DienThoai] [varchar](20) NULL,
	[MaHang] [int] NULL,
	[Anh] [nvarchar](50) NULL,
	[DiemTichLuy] [float] NULL,
	[MaLoai] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[LaiXe] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaiXe](
	[MaLaiXe] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NULL,
	[Anh] [nvarchar](50) NULL,
 CONSTRAINT [PK_LaiXe] PRIMARY KEY CLUSTERED 
(
	[MaLaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[LoaiKhach] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKhach](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
 CONSTRAINT [PK_LoaiKhach] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[LoaiXe] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiXe](
	[MaLoaiXe] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiXe] [nvarchar](100) NULL,
 CONSTRAINT [PK_LoaiNhaXe] PRIMARY KEY CLUSTERED 
(
	[MaLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[NavItems] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NavItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NavName] [nvarchar](50) NULL,
	[NavNameVN] [nvarchar](100) NULL,
	[Link] [nvarchar](250) NULL,
 CONSTRAINT [PK_NavItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[PhanHang] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanHang](
	[MaHang] [int] IDENTITY(1,1) NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
	[ChinhSach] [nvarchar](100) NULL,
 CONSTRAINT [PK_PhanHang] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[TinhThanh] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhThanh](
	[MaTinhThanh] [nvarchar](10) NOT NULL,
	[TenTinhThanh] [nvarchar](100) NOT NULL,
	[VietTat] [nvarchar](5) NULL,
 CONSTRAINT [PK_TinhThanh] PRIMARY KEY CLUSTERED 
(
	[MaTinhThanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Tuyen] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tuyen](
	[MaTuyen] [nvarchar](10) NOT NULL,
	[TenTuyen] [nvarchar](50) NULL,
	[MaDiemDau] [nvarchar](10) NOT NULL,
	[MaDiemCuoi] [nvarchar](10) NOT NULL,
	[TrangThai] [bit] NULL,
	[KhoangCach] [int] NULL,
 CONSTRAINT [PK_Tuyen] PRIMARY KEY CLUSTERED 
(
	[MaTuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Xe] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[SoXe] [nvarchar](20) NOT NULL,
	[MauXe] [nvarchar](50) NULL,
	[SoChoNgoi] [int] NULL,
	[MaLoaiXe] [int] NULL,
	[MaCongTy] [nvarchar](10) NULL,
	[Anh] [nvarchar](50) NULL,
 CONSTRAINT [PK_Xe] PRIMARY KEY CLUSTERED 
(
	[SoXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- --- INSERT DATA --- --
SET IDENTITY_INSERT [dbo].[Chuyen] ON 
INSERT [dbo].[Chuyen] ([MaChuyen], [MaTuyen], [SoXe], [MaLaiXe], [NgayGio]) VALUES (1, N'HB2HN', N'29T274.45', 1, CAST(N'2023-01-11T07:00:00.000' AS DateTime))
INSERT [dbo].[Chuyen] ([MaChuyen], [MaTuyen], [SoXe], [MaLaiXe], [NgayGio]) VALUES (2, N'HN2NB', N'29T187.34', 2, CAST(N'2023-01-11T09:00:00.000' AS DateTime))
INSERT [dbo].[Chuyen] ([MaChuyen], [MaTuyen], [SoXe], [MaLaiXe], [NgayGio]) VALUES (3, N'HN2NB', N'29B754.32', 3, CAST(N'2023-01-11T11:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Chuyen] OFF
GO

INSERT [dbo].[CongTy] ([MaCongTy], [TenCongTy], [DiaChi], [Email], [DienThoai], [Anh]) VALUES (N'NX001PT', N'Phương Trang', N'277 Minh Khai, Hà Nội', N'pt@gmail.com', N'0913115764', N'nx1.jpg')
INSERT [dbo].[CongTy] ([MaCongTy], [TenCongTy], [DiaChi], [Email], [DienThoai], [Anh]) VALUES (N'NX002LG', N'Long Giang', N'111 Nguyễn Hiền, Nam Định', N'lg@gmail.com', N'0967123415', N'nx2.jpg')
INSERT [dbo].[CongTy] ([MaCongTy], [TenCongTy], [DiaChi], [Email], [DienThoai], [Anh]) VALUES (N'NX003HA', N'Hải Âu', N'01 Cầu Đất, Hải Phòng', N'ha@gmail.com', N'0978142345', N'nx3.jpg')
GO

INSERT [dbo].[DatVe] ([MaKhach], [MaChuyen], [SoVe], [GiaVe], [DiemDon]) VALUES (N'KH001', 1, 10, 100000, N'30 Giải Phóng')
INSERT [dbo].[DatVe] ([MaKhach], [MaChuyen], [SoVe], [GiaVe], [DiemDon]) VALUES (N'KH001', 2, 5, 120000, N'1 Kim Mã')
INSERT [dbo].[DatVe] ([MaKhach], [MaChuyen], [SoVe], [GiaVe], [DiemDon]) VALUES (N'KH001', 3, 7, 80000, N'BX Giáp Bát')
GO

INSERT [dbo].[HanhKhach] ([MaKhach], [HoTen], [CCCD], [DienThoai], [MaHang], [Anh], [DiemTichLuy], [MaLoai]) VALUES (N'KH001', N'Nguyễn Văn An', N'031002098872', N'0987123429', 1, N'kh1.jpg', 7.5, 3)
INSERT [dbo].[HanhKhach] ([MaKhach], [HoTen], [CCCD], [DienThoai], [MaHang], [Anh], [DiemTichLuy], [MaLoai]) VALUES (N'KH002', N'Trần Thị Bích', N'035124098321', N'0712054374', 2, N'kh2.jpg', 5, 1)
INSERT [dbo].[HanhKhach] ([MaKhach], [HoTen], [CCCD], [DienThoai], [MaHang], [Anh], [DiemTichLuy], [MaLoai]) VALUES (N'KH003', N'Lê Hải Hà', N'021098645112', N'0964097126', 1, N'kh3.jpg', 9, 3)
GO

SET IDENTITY_INSERT [dbo].[LaiXe] ON 
INSERT [dbo].[LaiXe] ([MaLaiXe], [HoTen], [NgaySinh], [Anh]) VALUES (1, N'Nguyễn Minh Hà', CAST(N'1993-11-05' AS Date), N'dr1.jpg')
INSERT [dbo].[LaiXe] ([MaLaiXe], [HoTen], [NgaySinh], [Anh]) VALUES (2, N'Trần Văn Thành', CAST(N'1993-02-21' AS Date), N'dr2.jpg')
INSERT [dbo].[LaiXe] ([MaLaiXe], [HoTen], [NgaySinh], [Anh]) VALUES (3, N'Hà Nam Anh', CAST(N'1989-07-15' AS Date), N'dr3.jpg')
SET IDENTITY_INSERT [dbo].[LaiXe] OFF
GO

SET IDENTITY_INSERT [dbo].[LoaiKhach] ON 
INSERT [dbo].[LoaiKhach] ([MaLoai], [TenLoai]) VALUES (1, N'Đơn lẻ')
INSERT [dbo].[LoaiKhach] ([MaLoai], [TenLoai]) VALUES (2, N'Đoàn')
INSERT [dbo].[LoaiKhach] ([MaLoai], [TenLoai]) VALUES (3, N'Trường học')
SET IDENTITY_INSERT [dbo].[LoaiKhach] OFF
GO

SET IDENTITY_INSERT [dbo].[LoaiXe] ON 
INSERT [dbo].[LoaiXe] ([MaLoaiXe], [TenLoaiXe]) VALUES (1, N'Taxi')
INSERT [dbo].[LoaiXe] ([MaLoaiXe], [TenLoaiXe]) VALUES (2, N'Limousine')
INSERT [dbo].[LoaiXe] ([MaLoaiXe], [TenLoaiXe]) VALUES (3, N'Cars-Express')
SET IDENTITY_INSERT [dbo].[LoaiXe] OFF
GO

SET IDENTITY_INSERT [dbo].[NavItems] ON 
INSERT [dbo].[NavItems] ([Id], [NavName], [NavNameVN], [Link]) VALUES (1, N'Route', N'Tuyến', NULL)
INSERT [dbo].[NavItems] ([Id], [NavName], [NavNameVN], [Link]) VALUES (2, N'Provider', N'Nhà Xe', NULL)
INSERT [dbo].[NavItems] ([Id], [NavName], [NavNameVN], [Link]) VALUES (3, N'Operating', N'Khai Thác', NULL)
SET IDENTITY_INSERT [dbo].[NavItems] OFF
GO

SET IDENTITY_INSERT [dbo].[PhanHang] ON 
INSERT [dbo].[PhanHang] ([MaHang], [TenHang], [ChinhSach]) VALUES (1, N'Hạng Bạc', N'Chiết khấu 5%')
INSERT [dbo].[PhanHang] ([MaHang], [TenHang], [ChinhSach]) VALUES (2, N'Hạng Vàng', N'Chiết khấu 10%')
INSERT [dbo].[PhanHang] ([MaHang], [TenHang], [ChinhSach]) VALUES (3, N'Hạng Bạch Kim', N'Chiết khấu 15%')
SET IDENTITY_INSERT [dbo].[PhanHang] OFF
GO

INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh], [VietTat]) VALUES (N'203', N'Quảng Ninh', N'QN')
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh], [VietTat]) VALUES (N'208', N'Thái Nguyên', N'TNG')
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh], [VietTat]) VALUES (N'218', N'Hòa Bình', N'HB')
GO

INSERT [dbo].[Tuyen] ([MaTuyen], [TenTuyen], [MaDiemDau], [MaDiemCuoi], [TrangThai], [KhoangCach]) VALUES (N'HB2HN', N'Hòa Bình - Hà Nội', N'218', N'24', 1, 90)
INSERT [dbo].[Tuyen] ([MaTuyen], [TenTuyen], [MaDiemDau], [MaDiemCuoi], [TrangThai], [KhoangCach]) VALUES (N'HN2HP', N'Hà Nội - Hải Phòng', N'24', N'225', 1, 95)
INSERT [dbo].[Tuyen] ([MaTuyen], [TenTuyen], [MaDiemDau], [MaDiemCuoi], [TrangThai], [KhoangCach]) VALUES (N'HN2NB', N'Hà Nội - Ninh Bình', N'24', N'229', 1, 130)
GO

INSERT [dbo].[Xe] ([SoXe], [MauXe], [SoChoNgoi], [MaLoaiXe], [MaCongTy], [Anh]) VALUES (N'14F393.39', N'Trắng', 9, 2, N'NX003HA', N'xe2.jpg')
INSERT [dbo].[Xe] ([SoXe], [MauXe], [SoChoNgoi], [MaLoaiXe], [MaCongTy], [Anh]) VALUES (N'16F190.56', N'Đỏ', 5, 1, N'NX004KH', N'xe9.jpg')
INSERT [dbo].[Xe] ([SoXe], [MauXe], [SoChoNgoi], [MaLoaiXe], [MaCongTy], [Anh]) VALUES (N'16L876.34', N'Đỏ', 16, 2, N'NX002LG', N'xe1.jpg')
GO

-- --- TẠO KHÓA NGOẠI (FOREIGN KEYS) --- --
ALTER TABLE [dbo].[Chuyen]  WITH CHECK ADD  CONSTRAINT [FK_Chuyen_LaiXe] FOREIGN KEY([MaLaiXe])
REFERENCES [dbo].[LaiXe] ([MaLaiXe])
GO
ALTER TABLE [dbo].[Chuyen] CHECK CONSTRAINT [FK_Chuyen_LaiXe]
GO
ALTER TABLE [dbo].[Chuyen]  WITH CHECK ADD  CONSTRAINT [FK_Chuyen_Tuyen] FOREIGN KEY([MaTuyen])
REFERENCES [dbo].[Tuyen] ([MaTuyen])
GO
ALTER TABLE [dbo].[Chuyen] CHECK CONSTRAINT [FK_Chuyen_Tuyen]
GO
ALTER TABLE [dbo].[Chuyen]  WITH CHECK ADD  CONSTRAINT [FK_Chuyen_Xe] FOREIGN KEY([SoXe])
REFERENCES [dbo].[Xe] ([SoXe])
GO
ALTER TABLE [dbo].[Chuyen] CHECK CONSTRAINT [FK_Chuyen_Xe]
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD  CONSTRAINT [FK_DatVe_Chuyen] FOREIGN KEY([MaChuyen])
REFERENCES [dbo].[Chuyen] ([MaChuyen])
GO
ALTER TABLE [dbo].[DatVe] CHECK CONSTRAINT [FK_DatVe_Chuyen]
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD  CONSTRAINT [FK_DatVe_KhachHang] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[HanhKhach] ([MaKhach])
GO
ALTER TABLE [dbo].[DatVe] CHECK CONSTRAINT [FK_DatVe_KhachHang]
GO
ALTER TABLE [dbo].[HanhKhach]  WITH CHECK ADD  CONSTRAINT [FK_HanhKhach_PhanHang] FOREIGN KEY([MaHang])
REFERENCES [dbo].[PhanHang] ([MaHang])
GO
ALTER TABLE [dbo].[HanhKhach] CHECK CONSTRAINT [FK_HanhKhach_PhanHang]
GO
ALTER TABLE [dbo].[HanhKhach]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_LoaiKhach] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiKhach] ([MaLoai])
GO
ALTER TABLE [dbo].[HanhKhach] CHECK CONSTRAINT [FK_KhachHang_LoaiKhach]
GO
ALTER TABLE [dbo].[Tuyen]  WITH CHECK ADD  CONSTRAINT [FK_Tuyen_TinhThanh_DiemCuoi] FOREIGN KEY([MaDiemCuoi])
REFERENCES [dbo].[TinhThanh] ([MaTinhThanh])
GO
ALTER TABLE [dbo].[Tuyen] CHECK CONSTRAINT [FK_Tuyen_TinhThanh_DiemCuoi]
GO
ALTER TABLE [dbo].[Tuyen]  WITH CHECK ADD  CONSTRAINT [FK_Tuyen_TinhThanh_DiemDau] FOREIGN KEY([MaDiemDau])
REFERENCES [dbo].[TinhThanh] ([MaTinhThanh])
GO
ALTER TABLE [dbo].[Tuyen] CHECK CONSTRAINT [FK_Tuyen_TinhThanh_DiemDau]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_CongTy] FOREIGN KEY([MaCongTy])
REFERENCES [dbo].[CongTy] ([MaCongTy])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_CongTy]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_LoaiXe] FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LoaiXe] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_LoaiXe]
GO

USE [master]
GO