USE [master]
GO

-- Kiểm tra nếu Database đã tồn tại thì xóa đi để tạo mới (tránh lỗi trùng lặp khi chạy lại)
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'OnlineShop')
BEGIN
    ALTER DATABASE [OnlineShop] SET SINGLE_USER WITH ROLLBACK IMMEDIATE
    DROP DATABASE [OnlineShop]
END
GO

/****** Object:  Database [OnlineShop] ******/
-- CHỈNH SỬA: Tạo Database đơn giản, để SQL Server tự chọn đường dẫn lưu file mặc định
CREATE DATABASE [OnlineShop]
GO

-- Các thiết lập cấu hình Database
ALTER DATABASE [OnlineShop] SET ANSI_NULL_DEFAULT OFF 
GO

-- Chuyển sang sử dụng Database vừa tạo
USE [OnlineShop]
GO

/****** Object:  Table [dbo].[Categories] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[NameVN] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Customers] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RePassword] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[NavItems] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NavItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NavName] [nvarchar](50) NOT NULL,
	[NavNameVN] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.NavItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[OrderDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [nvarchar](10) NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Orders] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Amount] [float] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Products] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Available] [bit] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

-- INSERT DATA --
SET IDENTITY_INSERT [dbo].[Categories] ON 
INSERT [dbo].[Categories] ([Id], [Name], [NameVN]) VALUES (1, N'Food', N'Thực phẩm')
INSERT [dbo].[Categories] ([Id], [Name], [NameVN]) VALUES (2, N'Drink', N'Đồ uống')
INSERT [dbo].[Categories] ([Id], [Name], [NameVN]) VALUES (3, N'Assessories', N'Đồ gia dụng')
SET IDENTITY_INSERT [dbo].[Categories] OFF

SET IDENTITY_INSERT [dbo].[Customers] ON 
INSERT [dbo].[Customers] ([Id], [Fullname], [Email], [Password], [RePassword]) VALUES (1, N'James Bond', N'kh1@gmail.com', N'123', N'123')
INSERT [dbo].[Customers] ([Id], [Fullname], [Email], [Password], [RePassword]) VALUES (2, N'Tony Jaa', N'tj@gmail.com', N'456', N'456')
INSERT [dbo].[Customers] ([Id], [Fullname], [Email], [Password], [RePassword]) VALUES (3, N'Bruce Lee', N'bl@gmail.com', N'321', N'321')
SET IDENTITY_INSERT [dbo].[Customers] OFF

SET IDENTITY_INSERT [dbo].[NavItems] ON 
INSERT [dbo].[NavItems] ([Id], [NavName], [NavNameVN]) VALUES (1, N'Home', N'Trang chủ')
INSERT [dbo].[NavItems] ([Id], [NavName], [NavNameVN]) VALUES (2, N'Offers', N'Hàng hóa')
INSERT [dbo].[NavItems] ([Id], [NavName], [NavNameVN]) VALUES (4, N'Help', N'Trợ giúp')
SET IDENTITY_INSERT [dbo].[NavItems] OFF

SET IDENTITY_INSERT [dbo].[Orders] ON 
INSERT [dbo].[Orders] ([Id], [CustomerId], [OrderDate], [Address], [Amount], [Description]) VALUES (1, 1, CAST(N'2019-03-30T00:00:00.000' AS DateTime), N'London', 1000, NULL)
INSERT [dbo].[Orders] ([Id], [CustomerId], [OrderDate], [Address], [Amount], [Description]) VALUES (2, 2, CAST(N'2019-03-30T00:00:00.000' AS DateTime), N'Paris', 1500, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF

-- Insert Products trước (vì OrderDetails phụ thuộc Products)
INSERT [dbo].[Products] ([Id], [Name], [UnitPrice], [Image], [Available], [CategoryId], [Description]) VALUES (N'A01', N'Nồi lẩu', 500, N'hh1.png', 0, 3, NULL)
INSERT [dbo].[Products] ([Id], [Name], [UnitPrice], [Image], [Available], [CategoryId], [Description]) VALUES (N'A02', N'Bộ nồi', 400, N'hh2.png', 1, 3, NULL)
INSERT [dbo].[Products] ([Id], [Name], [UnitPrice], [Image], [Available], [CategoryId], [Description]) VALUES (N'A03', N'Khuôn bánh', 1200, N'hh3.png', 1, 3, NULL)

SET IDENTITY_INSERT [dbo].[OrderDetails] ON 
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [UnitPrice], [Quantity]) VALUES (1, 1, N'F01', 1000, 1)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [UnitPrice], [Quantity]) VALUES (2, 1, N'F04', 1000, 1)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [UnitPrice], [Quantity]) VALUES (3, 2, N'F01', 1000, 1)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF

-- Tạo khóa ngoại (Foreign Keys)
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO

USE [master]
GO