body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

table,
td,
tr,
th {
  border: 1px solid #000000;
}

table {
  transform: scale(2);
  transform-origin: center;
  margin-top: 120px;
}

td {
  padding-left: 5px;
}

.bold {
  font-weight: bold;
  text-align: center;
}

.result {
  width: 400px;
  text-align: right;
  padding-right: 5px;
}
