<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLThuVienConnectionString"
			 connectionString="Server=HOANGNGUYEN\SQLEXPRESS;Database=QLThuVien;Trusted_Connection=True;Encrypt=False;TrustServerCertificate=True"

			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
</configuration>
<!--Không cần sửa phần này, sửa tại Settings.Designer.cs-->